{
	margin:0;
	padding:0;
}
.swiper-container
{
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -150px;
}
.swiper-slide
{
	background-position: center;
      background-size: cover;
	background: #f2f2f2;
}
.swiper-container .swiper-slide .imgbox
{
	position:absolute;
	width:300px;
	height:300px;
}
.swiper-container .swiper-slide .imgbox img
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}

