{
            margin: 0;
            padding: 0;
            font-family: 'Raleway', sans-serif;
}

        section {
            display: flex;
            width: 100%;
            height: 100vh;
            
            align-items: left;
            flex-flow: column;
        }

        nav {
            width: 200px;
        }

        button {
            width: 100%;
            font-size: 18px;
            padding: 10px 0;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        ul {
            list-style: none;
            margin-top: 10px;
        }

        ul li {
            margin: 5px 0;
            border-radius: 3px;
            opacity: 0;
            transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-delay: calc(0.1s * var(--i));
        }

        ul li:nth-child(odd) {
            background-color: #2e86de;
            transform: rotateZ(50deg);
            transform-origin: left center;
        }

        ul li:nth-child(even) {
            background-color: #54a0ff;
            transform: rotateZ(-50deg);
            transform-origin: right center;
        }

        ul.active li {
            opacity: 1;
            transform: rotateZ(0deg);
        }

        ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            padding: 8px 10px;
            display: block;
        }
.main
{
	margin-top:200px;
}
.iframe2
{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.iframe4
{
	position:absolute;
	width:99%;
	height:30%;
	top:870px;
	bottom:0;
	left:0;
}

    
