{
	margin:0;
	padding:0;
}
.experiments
{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}
.experiment
{
	position:relative;
	width:100%;
	height:100%;
	background: radial-gradient(#9cdcff, #1cafff);
}

.experiment #expert
{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
}
.experiment #expert #text 
{
	
	display:flex !important;
	position:relative;
	color:white;
	font-size:5em;
	z-index:100;
	font-weight:900;
}
.experiment #expert #text  span
{
	position:relative !important;
	display:inline-block;
	text shadow: 1px 1px 0 #e1e1e1,
	2px 2px 0 #e1e1e1,
	3px 3px 0 #e1e1e1,
	4px 4px 0 #e1e1e1,
	5px 5px 0 #e1e1e1,
	6px 6px 0 #e1e1e1,
	7px 7px 0 #e1e1e1,
	8px 8px 0 #e1e1e1,
	25px 35px 0 rgba(0,0,0,0.6);
}
.icons
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.icons img
{
	position:relative;
	top:0;
	left:0;
	width:100px;
	height:150px;
	object-fit:contain;
}
