{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body
{	
	min-height:100vh;
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
}
footer
{
	position:relative;
	width:100%;
	min-height:100px;
	padding:20px 50px;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction:column;
}
footer .social,
footer .menu
{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:10px 0;
	flex-wrap:wrap;
}
footer .social ul{
	position:absolute;
	padding:0;
	left:40%;
	transform: translate(-50%, -50%);
	display:flex;
}
footer .social ul li,
footer .menu li
{
	list-style:none;
	
}

footer .social ul li a

{
	font-size:2.5em;
	margin:0px 10px;
	position:relative;
	display:inline-block;
	width:60px;
	height:60px;
	border-radius:50%;
	background-color:white;
	text-align:center;
	transition:.4s;
	box-shadow:0 5px 4px rgba(0,0,0,.5);
}
footer .social ul li a:hover
{
	transform:translate(0,-10px);
}
footer .social ul li:nth-child(1) a:hover
{
	background-color:1877F2;
}
footer .social ul li:nth-child(2) a:hover
{
	
 background: #d6249f;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
footer .social ul li:nth-child(3) a:hover
{
	background-color:CD201F;
}
footer .menu li a

{
	font-size:1em;
	display:inline-block;
	margin:0 10px;
	text-decoration:none;
}
footer .menu li a:hover
{
	opacity:1;
}

	

