 {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        

        section {
            width: 100%;
            height: 100vh;
            display: flex;

        }

        nav {
            width: 200px;
		
        }

        nav a {
            display: block;
            width: 100%;
            padding: 10px;
            position: relative;
            overflow: hidden;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            background-color: rgba(255,255,255,0.1);
            margin: 5px 0;
            border-radius: 5px;
            transition: 0.2s all ease-in-out;
		background:black;
        }

        nav a:hover {
            color: transparent;
            background-color: transparent;
        }

        nav a::after {
            content: attr(data-name);
            position: absolute;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 40px;
            left: 10px;
            top: 3px;
            opacity: 0;
            transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        nav a:hover::after {
            opacity: 1;
            letter-spacing: 2px;
            color: #152b4f;
        }
.smile
{position:absolute;
left:20%;
}
